<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>testCount</key>
	<dict>
		<key>key</key>
		<string>test_many_objects</string>
		<key>mapper</key>
		<string>CSCountMapper</string>
	</dict>
	<key>testCompound</key>
	<dict>
		<key>mapper</key>
		<string>CSJoinMapper</string>
		<key>key</key>
		<array>
			<string>part_one</string>
			<string>part_two</string>
		</array>
	</dict>
	<key>__parent__</key>
	<array>
		<string>ParentOne</string>
		<string>ParentTwo</string>
	</array>
	<key>falseBool</key>
	<dict>
		<key>key</key>
		<string>false_bool</string>
		<key>mapper</key>
		<string>CSAPIBoolMapper</string>
	</dict>
	<key>trueBool</key>
	<dict>
		<key>key</key>
		<string>true_bool</string>
		<key>mapper</key>
		<string>CSAPIBoolMapper</string>
	</dict>
	<key>testSubtype</key>
	<dict>
		<key>key</key>
		<string>test_subtype</string>
		<key>type</key>
		<string>TestTestSubtype</string>
	</dict>
	<key>testComplex</key>
	<dict>
		<key>type</key>
		<string>NSNumber</string>
		<key>key</key>
		<string>test_complex</string>
		<key>mapper</key>
		<string>TestTestComplexMapper</string>
	</dict>
	<key>testNumber</key>
	<dict>
		<key>key</key>
		<string>test_number</string>
		<key>type</key>
		<string>NSNumber</string>
	</dict>
	<key>testSimple</key>
	<dict>
		<key>key</key>
		<string>test_simple</string>
	</dict>
	<key>subSubValue</key>
	<dict>
		<key>mapper</key>
		<string>HGSubKeyMapper</string>
		<key>key</key>
		<array>
			<dict>
				<key>type</key>
				<string>NSString</string>
				<key>default</key>
				<string>subSubDefaultValue</string>
				<key>key</key>
				<string>subSubValue</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
